<form (ngSubmit)="onSubmit()" novalidate>
  <mat-input-container class="example-full-width">
    <input matInput placeholder="What needs to be done?" type="text"
      name="title"
      [(ngModel)]="title"
      (keyup.escape)="clear()"
      autocomplete="off"
      autofocus>      
    <input matInput placeholder="When must the task be completed?" type="date"
      name="date"
      [(ngModel)]="date"
      (keyup.escape)="clear()"
      autocomplete="off">    
  </mat-input-container>   
</form>



