<div>
    <ul class="bubble">
        <li *ngFor="let task of tasks let i=index" (click)="onSelect(task)">
            <span>{{i+1}}.</span>
            <span>{{task.title}}</span>
        </li>
    </ul>
</div>
<table class="table table-hover table-striped table-bordered">
<thead class="thead-dark">
<tr>
  <th>#</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Username</th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor="let task of tasks let i=index">
  <th scope="row">1</th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
  <td><button type="button" class="btn btn-primary btn-sm" (click)="onSelect(task)">Edit</button></td>
</tr>    
</tbody>
</table>